<html>
    <head>
        <title>Lilly's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Healthy Eating Simply</a></h1>
            <p>Come join my Healthy Eating Blog<p>
        </div>

        <div>
            <p>published: 14.06.2019, 12:14</p>
            <h2><a href="">Fuel your body</a></h2>
            <p>Follow healthy recipes to feel more energised to move!</p>
        </div>

        <div>
            <p>published: 14.06.2019, 12:14</p>
            <h2><a href="">Delicious tasty meals</a></h2>
            <p>Meeting all your required nutrients easily through your meals.</p>
        </div>
            <p>published: 14.06.2019, 12:14</p>
        </div>
            
    </body>
</html>
